<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div><img src="<%=userInfo.file %>" width="300px" height="200px" /></div>
        <div><%=userInfo.id%>님 환영합니다</div>
        <div>비밀번호 :<%=userInfo.pw%></div>
        <div>이름 : <%=userInfo.username%></div>
        <div>나이 : <%=userInfo.age%></div>
    </body>
</html>
