<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <img src="<%= file %>" width="200px" />
        <div><%=id%>님 환영합니다.</div>
        <div>비밀번호 : <%=pw%></div>
        <div>이름 : <%=username%></div>
        <div>나이 : <%=age%></div>
    </body>
</html>
