<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>결과 페이지</title>
    </head>
    <body>
        <h4>데이터 전송 결과 페이지</h4>
        <h5><%= title %></h5>
        <div><span><%= userInfo.id %></span>님 환영합니다.</div>
        <div>비밀번호는 <span><%= userInfo.pw %></span></div>
        <br />
        <br />
        <a href="/">홈으로 이동</a>
        <hr />
        <h5><%= title %></h5>
        <div><span><%= userInfo.id %></span>님 환영합니다.</div>
        <div>비밀번호는 <span><%= userInfo.pw %></span></div>
        <br />
        <br />
        <a href="/">홈으로 이동</a>
    </body>
</html>
