<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h4>데이터 전송 결과 페이지</h4>
        <div><span><%= userInfo.name %></span>님 환영합니다.</div>
        <div>성별은<span><%= userInfo.gender %></span>입니다.</div>
        <div>생년월일은<span><%= userInfo.yy %>년 <%= userInfo.mm %>월 <%= userInfo.dd %>일</span>입니다</div>
        <div>관심사는<span><%= userInfo.inter%></span> 입니다.</div>
        <br />
        <br />
        <a href="/">홈으로 이동</a>
    </body>
</html>
